body {
	color:#FFFFFF;
	background-color:#000000;
        padding-top: 20px;

}
nav {
    
}
p {
    display:block
}
@font-face { font-family: pso; src: url('pso_font.TTF'); }

h1 {
	color:#00F94B;
	font-family:pso;
}

a {
	color:cyan;
}

a:hover {
        color:white;
}


footer {
	list-style-type:none;
}

footer ul li {
	display:inline;
}

