
body {
	color: white;
	background-color: black;
}
@font-face {
		font-family: pso; 
		src: url(http://cs.slu.edu/~dacresni/pso_font.ttf);
	}
h1 {
	color : green;
	font-family: pso ;
	
}
a {
	color: red;
}


footer{
	list-style-type: none;
}

footer ul li {
		display: inline;
}




